#table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #table tr:nth-child(even){background-color: #f2f2f2;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
 
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
  #table th:hover {
    background-color: rgb(5, 65, 7);
    color: gray;
  }
  #table tr th button{
      width:100%;
      height:70px;
      border:none;
      background-color: #4CAF50;
  }